
body {
    background: #eee;

font-family: 'Roboto', sans-serif;

}
.result-item {
    background:rgb(147, 247, 164);
    margin: 20px;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d8d8d8;
}
.item-2 {background: rgb(121, 238, 120)
}

.item-3 {background: rgb(84, 180, 84)}


